.shop-container {
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 50px;
    gap: 30px;
}