.product {
    border: 1px solid #95A0A7;
    transition: 0.3s all;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product:hover {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0, 0.25);
}
.product-thumb {
    margin: 7px;
}
.product-thumb img {
    border-radius: 8px;
}
.product-info,
.product-details {
    margin: 0 10px;
}
.product-name {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.product-price {
    font-size: 16px;
    margin-bottom: 20px;
}
.product button {
    width: 100%;
    padding: 12px 0;
    border: 0;
    background: #FFE0B3;
    border-radius: 0 0 8px 8px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s all;
}
.product button:hover {
    background: #e1bf8c;
}
